/*
 * Terminal Icon Extension for Plesk - https://github.com/cloudverve/plesk-terminal-icon-ext
 * License: Apache-2.0 (https://github.com/cloudverve/plesk-terminal-icon-ext/blob/master/LICENSE)
 * Version: 1.0.0
 */

#terminal_icon_iframe {
  width: 100%;
  height: 600px;
}

.terminal-icon-wiki-button {
  float: right;
  width: 175px;
  height: auto;
}
